* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    color: rgb(53, 0, 102);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  h1{
      text-align: center;
      margin-top: 250px;
      font-size: 400px;
  }