* {
    margin: 0;
    padding: 0;
}
html,
body {
  height: 100%;
}

body {
 background-image:url(../img/flower-g59389d559_1920.jpg);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}

 h1{
     text-align: center;
     font-size: 200px;
     margin-top:200px;
 }
  
  main {
    flex: 1 0 auto;
  }
  
  @media(max-width: 1200px) {
    .top-nav {
        background: #010101;
    }

    .nav-list {
        justify-content: center;
    }

    .nav-link {
        font-size: 25px;
    }

}

@media(max-width: 900px) {
  
    .top-nav {
        height: 25vh;
        top: -25vh;
    }

    .nav-list {
        width: 70%;
        flex-wrap: wrap;
        align-content: center;
    }

    .nav-link {
        margin: 3px 0;
    }

}
*/
@media(max-width: 750px) {
    .nav-list {
        width: 60%;
    }

}

@media(max-width: 550px) {

    .logo {
        width: 70px;
        height: 70px;
        left: 30px;
    }

    .top-nav {
        height: 30vh;
        top: -30vh;
    }

}

@media(max-width: 450px) {
   

    .top-nav {
        height: 35vh;
        top: -35vh;
    }

    .nav-list {
        width: 50%;
    }
}

#fondo {
    width:100vw;
    height:100vh;
    display:grid;
    justify-content:center;
    align-items:center;
    background-image: url();
  }
  
  #container {
    display:grid;
    width: 400px;
    height: 520px;  
    padding: 30px 50px;
    background:linear-gradient(  rgba(250,250,250,0.7),rgba(250,250,250,0),rgba(250,250,250,7)
    );
  }
  #form {
    display:grid;
  }
  
  #container h1 {
    text-align:center;
  
  }
  .input-box {
    display:grid;
    position:relative;
    grid-auto-flow:row;
    margin:15px 0;
    grid-row-gap:10px;
  }
  
  .input-box input {
    height:34px;
    background:rgba(0,0,0,0);
    transition:background 0.2s;
  }
  
  .input-box input:focus {
    outline:none;
      background:#76C6DE;  
  }
  .input-box i {
    visibility:hidden;
    position:absolute;
    top:36px;
    right:20px;
  }
  
  .input-box small {
    visibility:hidden;
    position:absolute;
    top:68px;
    right:20px;
  }
  
  .input-box.exito input {
    border-color:#ACF33A;
  }
  
  .input-box.error input {
    border-color:#e74c3c;
  }
  
  .input-box.exito i.iconicstroke-x {
    color:#ACF33A;
    visibility:visible;
  }
  .input-box.exito input {
    background:#cffc88;
  }
  .input-box.error i.iconicstroke-check {  
    color:#e74c3c;
    visibility:visible;
  }
  .input-box.error input {
    background:#df7176;
  }
  
  .input-box.error small {  
    color:#e74c3c;
    visibility:visible;
  }
  
  #button {
    width:100px;
    height:40px;
    border-radius:8px;
    background:linear-gradient(to left, #76C6DE,#DF7176);
    justify-self:center;
    transition:background 2s;
  }
  
  #button:focus {
    outline:red;
    background:linear-gradient(to right, #76C6DE,#DF7176);
    color:white;
  }
  
  #button:hover {
    transform:scale(1.04);
      background:linear-gradient(to right, #76C6DE,#DF7176);
  }